@import "variables"
/*** start header ***/

@import "header"
/*** end header ***/

/*** start footer ***/

@import "footer"

/*** end footer ***/


/*** component *****/
/***** start destinations ***/
@import "components/destinations"
/****** end destinations  *****/
@import "components/booking"
/*** start work ***/
@import "components/work"
/*** end work ***/
/*** start credit ***/
@import "components/credit"
/*** end credit ***/
/*** start terms ***/
@import "components/terms"
/*** end terms ***/
/*** start search ***/
@import "components/search"
/*** end search ***/
@import "components/moneysaved"
@import "components/responsive"
