/******* start footer *******/
.footer
	&__top
		padding 20px 0 0
		background-color #3a789e
		&--logoApp
			width 80%
			img
				margin-top -69px
		h4
			font-size 20px
			font-weight bold
			color $white
		p
			font-weight 100
			color $white
			font-size 16px
		&--details
			.details--image
				img
					display inline-block
				a:nth-child(1) img
					width 180px
				a:nth-child(2) img
					width 160px	
	&__center
		background linear-gradient(79deg, #1a2980, #26d0ce)	
		padding-top 15px
		padding-bottom 15px
		&--logo
			width 60%
			margin-top 35px
		h3
			color #36bcd5	
			font-size 20px
			&:after
				background-color $white
				height 2px
				width 30px	
				margin-top 15px
		ul
			padding 0
			list-style none
			margin-top 20px
			li 
				a 
					padding 10px 0
					color $white
					font-size 14px
					font-weight 600
					text-decoration none	
					display block
					i
						padding-left 10px
						font-size 20px
		.center--details
			display flex
	&__copright
		width 90%
		margin-left auto
		margin-right auto
		text-align center
		margin-top 55px
		padding-right 100px
		img
			width 80px
			margin-right auto
			margin-left auto
		p
			color $white
			margin-top 15px								

/******* end footer *******/				
				