.booking
	background url('../img/hero.png') no-repeat top center 
	background-size cover
	padding 102px 0 69px 0
	position relative
	&__details
		h1
			color $dark
			font-size 45px
			line-height 1.42
			font-weight bold 
		p
			font-size 28px
			color $dark
		a
			padding 5px 30px
			background linear-gradient(to bottom, #8b336d, #741752)
			border-radius 5px
			color rgba(255, 255, 255, 0.95)
			text-decoration none	
			font-size 18px
			line-height 2
			font-weight 600
			margin-top 41px
			display inline-block
	&__logo
		margin-top 345px	
	&__down
		position absolute
		right 5%
		bottom -4%
			
