/******* start credit ******/
.credit
	background-color #4d1965
	mix-blend-mode multiply
	padding-top 62px
	padding-bottom 40px
	&__content
		h3
			color $white
			text-transform capitalize
			line-height 32px
			padding-bottom 60px
			&:after
				background-color $white
				margin-top 28px
		&--image		
			height 347px
			overflow hidden
			
		img
			margin-top -20px
		&--item
			display flex
			flex-direction row
			align-items center	
			justify-content space-around
			color $white
			padding-top 38px
			width 91%
			margin-left auto
			margin-right auto
			.item--type
				width calc(100% / 4 - 35px)
				img
					display none	
				p
					font-size 16px
					line-height 1.5
					margin-bottom 0
			// p:nth-child(1)
			// 	margin-left 60px
			// p:nth-child(2)
			// 	margin-left -20px		




/******* end credit ******/