@media (min-width: 768px) and (max-width: 991px) 
	h3
		font-size 26px
	.booking__details h1
		font-size 32px
	.booking__details p
		font-size 22px
	.booking__details a
		font-size 16px			
	.search__box--text .text--input
		flex 0 0 60%
		margin-bottom 0.5%
	.search__box--text .text--calenter 
		flex 0 0 37%
		margin-bottom 0.5%
	.search__box--text .text--select
		flex 0 0 60%
		margin-bottom 0.5%
	.search__box--text .text--flight 
		flex 0 0 37%
		margin-bottom 0.5%				
	.work__content
		padding 60px 0 69px 0
	.work__step
		margin-top 60px		 
	.work__step--item h4
		font-size 20px
	.work__step--item p 
		font-size 14px
	.moneysaved__head
		background	linear-gradient(#0076c4 12%, rgba(0,118,196,0.4) 41%, rgba(0,118,196,0) 80%)
	.moneysaved__head h3
		line-height 25px
		width 100%
	.moneysaved__head h3:after
		margin-top 10px	
	.moneysaved__details--item .item--type
		bottom 0		
	.moneysaved__details--item .item--type span 
		font-size 100px
	.moneysaved__details--item .item--type p
		font-size 20px
		left 19%	
	.credit__content--image
		height 204px		
	.credit__content--item p
		font-size 13px
	
			
	.footer__top
		padding-bottom 20px	
	.footer__top--logoApp
		display none
	.footer__top--details
		text-align center	
	
@media (min-width: 576px) and (max-width: 767px)
	.booking__details h1
		font-size 28px
	.booking__details p
		font-size 18px
	.booking__details a
		font-size 14px
	.search__box--text .text--input
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--calenter
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--select
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--flight
		flex 0 0 100%
	.moneysaved__details--item .item--type
		bottom 0	
	.moneysaved__details--item .item--type span
		font-size 60px
	.moneysaved__details--item .item--type p
		width 100%
		font-size 15px	
		left 20%	
	.work__step--item
		flex 0 0 50%
		text-align center
	.work__step--item h4:after
		margin-left auto
		margin-right auto
	.credit__content img
		display none
	.terms__content .terms__content--right
		padding-top 0
		
	.footer__top
		padding-bottom 20px
	.footer__top--logoApp
		display none
	.footer__top--details
		text-align center
	.footer__center .center--details	
		flex-wrap wrap
		justify-content center
	.footer__center .center--details .col-md-2
		width 50%
		text-align center
	.footer__center--logo
		margin-left auto
		margin-right auto
	.footer__center h3:after
		margin-left auto
		margin-right auto
	.footer__copright
		padding-right 0	
					
@media (max-width: 575px)
	h3
		font-size 24px
	.booking__details h1
		font-size 28px
	.booking__details p
		font-size 18px
	.booking__details a
		font-size 14px	
	.search__box--head
		justify-content center
	.search__box--head .head--link
		flex 0 0 100%
	.search__box--head .head--link a
		width calc(100% / 3 - 10px)	
	.search__box--head .head--checkbox label
		margin-left 0 
		padding-left 0	
	.search__box--text .text--input
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--calenter
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--select
		flex 0 0 100%
		margin-bottom 5px
	.search__box--text .text--flight
		flex 0 0 100%
	.moneysaved__head h3
		width 100%
		line-height 24px	
	.moneysaved__details--item .item--type
		bottom 0
	.moneysaved__details--item .item--type span
		font-size 60px
	.moneysaved__details--item .item--type p
		width 80%
		font-size 15px	
		left 20%				
	.work__step--item
		flex 0 0 50%
		text-align center
	.work__step--item h4:after
		margin-left auto
		margin-right auto	
	.credit__content--item
		flex-wrap wrap
	.credit__content--image
		display none
	.credit__content--item .item--type
		width 50%	
		margin-bottom 10px
		text-align center
	.credit__content--item .item--type img
		display block	
	.terms__content .terms__content--right
		padding-top 0
	.footer__top
		padding-bottom 20px	
	.footer__top--logoApp
		display none
	.footer__top--details
		text-align center
	.footer__center .center--details	
		flex-wrap wrap
		justify-content center
	.footer__center .center--details .col-md-2
		width 50%
		text-align center
	.footer__center--logo
		margin-left auto
		margin-right auto
	.footer__center h3:after
		margin-left auto
		margin-right auto	
	.footer__copright
		padding-right 0
				
			
				
						